.item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 500px;
  margin: 0;
}

.item__title {
  margin: 0;
  padding: 5px;
  font-size: 21px;
  font-weight: bold;
  line-height: normal;
  border: 1px solid black;
  border-radius: 5px;
  width: 345px;
  overflow-x:hidden;
}

.item__description {
  margin: 0;
  padding: 5px;
  font-size: 15px;
  line-height: normal;
  border: 1px solid black;
  border-radius: 5px;
  width: 345px;
  overflow-x:hidden;
}

.item__buttonContainer {
  max-width: 145px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.item__textContainer {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.item__inputContainer {

}
