.item {
    min-height: 35px;
    color: white;
    width: 300px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x:hidden;
}

.item__text {
    margin: 0;
    padding: 0 0 0 15px;
    color: white;
    font-size: 15px;
    line-height: normal;
}